/* -------------------------------------Mobile Nav */
@media (hover: hover) {
  .menu-links a:hover {
    border: 2px solid black;
  }
}
@media (hover: none) {
  .menu-links a:active {
    border: 2px solid black;
  }
}
/* -------------------------------------Desktop Nav */
@media (hover: hover) {
  .nav-links a:hover {
    color: var(--purple);
    background-color: white;
  }
}
@media (hover: none) {
  .nav-links a:active {
    color: var(--purple);
    background-color: white;
  }
}
/* -------------------------------------Hero Button*/
@media (hover:hover) {
  .btn-color-1:hover {
    color: white;
    border-color: #12a7e2;
    background-color: #12a7e2;
  }
  .btn-color-2:hover {
    color: green;
    border-color: green;
    background-color: white;
  }
}
@media (hover:none) {
  .btn-color-1:active {
    color: white;
    border-color: #12a7e2;
    background-color: #12a7e2;
  }
  .btn-color-2:active {
    color: green;
    background-color: white;
    border-color: green;
  }
}
/* -------------------------------------Projects Button*/
@media (hover:hover) {
  .projects-grid div:hover {
    color: white;
    background-color: black;
  }
  .projects-grid div:hover .code {
    color: white;
  }
  #view-more-div:hover {
    color: white;
    font-weight: 700;
    background-color: #12a7e2;
  }
}
@media (hover:none) {
  .projects-grid div:active {
    color: white;
    background-color: black;
  }
  .projects-grid div:active .code {
    color: white;
  }
  #view-more-div:active {
    color: white;
    font-weight: 700;
    background-color: #12a7e2;
  }
}
/* -------------------------------------Contact Button */
@media (hover:hover){
  .contact-links > a:hover {
    color: #12a7e2;
    transform: translateY(-6px);
  }
}
@media (hover:none){
  .contact-links > a:active {
    color: #12a7e2;
    transform: translateY(-6px);
  }
}
/* -------------------------------------Media Queries */
@media (min-width: 568px) {  
  .skills-items-div { flex-direction: row; }
}
@media (min-width: 640px) {  
  .contact-links { flex-direction: row; flex-wrap: wrap; }
}
@media (min-width: 768px) {
  #hamburger-nav { display: none; }
  #desktop-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: black;
    font-size: 2rem;    
  }    
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'shoes country'
    'tour planet' 
    'calc age'
    'btn btn'
    ;
  }
}
@media (min-width: 1024px) { 
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'shoes country planet'
    'tour calc age'
    '. btn .'
    ;
  }
}